@import "../../../assets/scss/variable";

#logo{
  height: 70px;
  position: relative;
  box-shadow: 0 1px 4px 0 rgba(0,21,41,0.12);
  .gene-header-toolbar{
    height: 70px;
    background: #FFFFFF;
    box-shadow: 0 1px 4px 0 rgba(0,21,41,0.12);
    padding: 0;
    position: relative;
  }
  .secondary-menu{
    position: absolute;
    right: 0px;
    .noticion{
      margin-right:20px;
    }
    span.mat-button-wrapper{
      color: rgba(255,255,255,0.85);
    }
    .user-button{
      .gene-user-name{
        // font-family: PingFangSC-Medium;
        font-size: 20px;
        color: #1E1E1E;
        line-height: 22px;
        margin-right:40px;
      }
    }
  }
  .search-bar{
    position: absolute;
    right: 198px;
    .searchicon{
      width:20px;
      height:20px;
      vertical-align:middle;
      line-height: 20px;
      margin-right:21px;
      &::after{
        display: inline-block;
        content:"|";
        width:1px;
        height:20px;
        vertical-align: top;
        margin-left:8px;
        margin-right:8px;
        color:grey;
      }
    }
    input{
      border: none;
      width:120px;
      height:22px;
      background: #26404D;
      // border-bottom: 1px solid #D8D8D8;
      font-size: 16px;
      color: #B2B7CA;
      letter-spacing: 1.01px;
      line-height: 22px;
      // color: rgba(255,255,255,0.65);
    }
  }
  // svg-icon{
  //   width:20px;
  //   height:20px;
  // }
}
body .gene-header-toolbar.mat-toolbar{
  background: #FFFFFF;
}
body .mat-sidenav-content{
  background: #FFFFFF !important;
}
.mat-menu-content{
  background-color: #ECEFF1;
}
.gene-user-thumb{
  margin: 0 0.7rem;
  padding: 0 !important;
  height: 50px;
  line-height: 50px;
}
// .sidebar-area{
//   padding-top: 30px;
// }
.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.morePanel{
  background-color: #374B56;;
}
.userName{
  color: #8A5A44!important;
  margin-left: .5rem;
  margin-top: 0!important;
}
:host ::ng-deep .breadheader {
  font-size: 12px;
  // display: inline-block;
  //height: 64px;
  //line-height: 60px;
  p-breadcrumb {
    display: inline-block;
    background-color: red;

    .ui-breadcrumb {
      background-color: transparent;
      border: none;
      padding: 0;
      ul {
        background-color: transparent;
        list-style: none!important;
        padding:0;
        li {
          background-color: transparent;
        }
        .fa-chevron-right {
          &:before {
            display: block;
            content: "/";
            float: right;
          }
        }
      }
    }
  }
}
#sidebar{
  i{
    font-size: 16px;
    color: rgba(0,0,0,0.80);
  }
  span{
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #000000;
  }
}
.sidebar-logo{
  padding:0 !important;
  margin-bottom:28px;
}
body .gene-logo{
  padding:0 !important;
}
.navbar-brand{
  color: $main-color;
  font-size: 16px;
  margin-right:0;
}
.language{
  text-align: center;
  margin-top: 20px;
  div{
    width: 100%;
    // float: left;
  }
  // div:last-child{
  //   width: 45%
  // }
  img{
    width: 29px;height: 20px;margin-right: 10px;
  }
  img:last-child{
    margin-left: 10px;
    margin-right: 0;
  }
  span{
    cursor: pointer;
    font-size: 12px;
    color: $font-color;
  }
}

.mat-drawer.mat-drawer-side{
  z-index: -1 !important;
}

.chat-panel{
  .fileDetailList{
    max-width:300px;
    >div{
      margin:5px 0;
    }
    span.title{
      font-size:14px;
      font-weight:bolder;
    }
    .scope,.tag{
      background-color: lightgray;
      box-shadow: #2f3033 1px 1px 1px 1px inset;
      padding:2px;
      border-radius: 5px;
      margin-right:10px;
      line-height: 24px;
    }
  }
}
.noNotice{
  width: 300px;
  text-align: center;
  margin-top:100px;
  color: gray;
}
.noticeBtn{
  outline: none!important;
  position: relative;
  .tips{
    position:absolute;
    top: 18px;
    left: 28px;
    width: 5px;
    height: 5px;
    border-radius:50%;
    background-color: red;
  }
}
.noticeHeader{
  background-color: $main-color!important;
}
:host ::ng-deep .notice-tab-group{
  .mat-tab-labels{

  }
}
:host ::ng-deep .mat-tab-label{
  width: 50%!important;
}
// .sidenav-scrollbar-container{
//   height:600px;
//   overflow: auto;
// }
.active{
  color: #ee2d9e;
}
// .sidebar-panel{
//   width:100px!important;
// }
.sidenav-scrollbar-container{
  height:auto!important;
  margin-bottom:150px;
  overflow:auto;
}
.mat-expansion-panel-header{
  padding:0 5px!important;
}
.sidebar-panel{
  width:220px!important;
  a{
    justify-content: center;
    height:3.4rem!important;
  }
}
.mat-content{
  justify-content: center!important;
}
.comIcon{
  margin:15px 0 30px 0;
}
.sidebar-area.mat-sidenav{
  // font-size:12px!important;
  background-color:#374B56!important;
   a{
    span{
      color:white!important;
    }
  }
}

#sidebar span{
  color:white!important;
}
.leftIcon{
  width:28px!important;
  height: 28px!important;
}
.foldericon{
  display: block;
  width:44px!important;
  height:38px!important;
}
.mat-toolbar-single-row{
  height:auto!important;
}
.costom-title {
  // height: auto!important;
  .iconToolbar{
    .folder-container{
      // justify-content:;
      align-items:center!important;
      margin-right:10px!important;
    }
    // .titleFont{
    //   font-size: 16px!important;
    //   color: #B2B7CA;
    //   letter-spacing: 1.26px;
    //   margin-right:10px;
    //   a::after{
    //     display: block;
    //     content:">";
    //   }
    // }
    .spaceSize{
      font-size: 16px!important;
      color: #B2B7CA;
      letter-spacing: 1.1px;
    }
  }
}
.folder-container{
  // justify-content:;
  align-items:center!important;
  margin-right:10px!important;
}
.titleFont{
  font-size: 16px!important;
  color: #B2B7CA;
  letter-spacing: 1.26px;
  // padding-right:5px;
  // >a{
  //   padding-right:5px;
  // }
  >a::after{
    display: inline-block;
    content:">";
    font-size:16px;
    color:#B2B7CA;
    margin-left:5px;
  }
}
.spaceSize{
  font-size: 16px!important;
  color: #B2B7CA;
  letter-spacing: 1.1px;
}
