<div class="pad-wrap">
    <div class="file-list-content" *ngIf="ctx.isShowSearchLists" #fileListContent>
        <div class="filter-header">

            <!--筛选-->
            <div class="filter">
                <ul>
                    <ng-container  *ngFor="let condition of searchService.conditions,let ind = index">
                        <ng-container *ngIf="!condition.isShowMore">
                            <li class="clearfix" [ngClass]="{'showMore':condition.isShowMore}" *ngIf="ind===1?false:true" fxLayoutAlign="start center" fxLayout="row">
                                <div class="filter-title">{{condition.label}}</div>
                                <div class="filterItemContainer">
                                    <div class="filter-item" *ngFor="let item of condition.items,let i =index" [ngClass]="{'active':item.isActived,'noLimits':i===0}"
                                        (click)="renderFilterResult($event,ind,i,condition.name,item)">{{item.label?item.label:item.value}}
                                    </div>
                                </div>
                                <button *ngIf="!condition.isShowMore" mat-button class="moreCategories" (click)="toggleMoreCategories(ind)" fxFlexAlign="center">+多选
                                    <!-- <i class="fa fa-angle-down" [ngClass]="{'fa-angle-up':condition.isShowMore}" ></i> -->
                                </button>
                            </li>
                        </ng-container>
                        <ng-container *ngIf="ind===1?false:true" >
                            <div *ngIf="condition.isShowMore" style="border:1px solid skyblue" fxLayout="column" fxLayoutWrap class="more-margin-container">
                                       <div fxLayout="row">
                                           <label  class="more-margin-header" >{{condition.label}}</label>
                                            <section class="more-section" >
                                                <ng-container *ngFor="let item of condition.items,let i =index">
                                                    <mat-checkbox class="more-margin"   (change)="onChangeCategory($event, item)"  #checkb>{{item.label?item.label:item.value}}</mat-checkbox>
                                                </ng-container>
                                            </section>
                                       </div>
                                       <div fxLayout="row" fxLayoutAlign="center center" class="button-container">
                                           <div>
                                               <button  mat-flat-button style="width:70px;height:30px;background-color:#40A3FF;color:white" (click)="goMoreItem($event,ind,condition.name,temArr.moreItem)"> 确定</button>
                                               <button  mat-button style="width:70px;height:30px;background-color:#EEEEEE;" (click)="cancelMoreItem($event,ind)">取消</button>
                                           </div>
                                       </div>
                            </div>            
                        </ng-container>
                    </ng-container>
                </ul>
            </div>
        </div>
        <div class="filter-body">
            <div class="search" fxLayout="column">
                <div fxLayout="row" class="search-high">
                    <div class="search-options">高级筛选</div>
                    <div class="serch-input" fxLayout="row">
                        <!-- <span>关键字</span>
                        <select class="selectSearchType" [(ngModel)]="ctx.currentSearchType" (change)="changeSearchType($event)">
                            <option value=1 selected>不限</option>
                            <option value=2>上传人</option>
                        </select> -->
                        <!-- <span>文件类型</span>
                        <div class="selectFileType" [(ngModel)]="ctx.currentSearchFileType" (change)="changeFileType($event)">
                            <option value="0">不限</option>
                            <option value="{{fileType.viewVal}}" *ngFor="let fileType of fileTypes">{{fileType.viewVal}}
                            </option>
                        </div> -->
                        <!-- <span>搜索内容</span>
                        <input type="text" placeholder="不限" name="partSearch" (keyup)="doSearchContent($event)" [(ngModel)]="searchService.insetSearchKey">
                        <button type="submit" style="cursor: default">
                            <i class="icon-search"></i>
                        </button> -->
                        <div class="file-tag" (click)="onUnfold(0)" [class.active]="unfoldTag===true"><span>文件标签</span><svg-icon src="{{unfoldSrc0}}" [svgStyle]="{'width.px':20,'height.px':15}"></svg-icon></div>
                        <div class="file-type" (click)="onUnfold(1)" [class.active]="unfoldType===true"><span>文件类型</span><svg-icon src="{{unfoldSrc1}}" [svgStyle]="{'width.px':20,'height.px':15}"></svg-icon></div>
                    </div>
                </div>
                <div class="folding-screen" *ngFor="let condition of searchService.conditions,let ind = index">
                    <ng-container *ngIf="ind===1?true:false" >
                        <div *ngIf="unfoldTag===true?true:false" class="unfoldTag-container" fxLayout="row">
                           <span *ngFor="let item of condition.items,let i =index" fxFlexAlign="center">{{item.label?item.label:item.value}}</span>
                        </div>                 
                        <div *ngIf="unfoldType===true?true:false" class="unfoldType-container" fxLayout="row" (change)="changeFileType($event)">
                                <span  fxFlexAlign="center" *ngFor="let fileType of fileTypes,let i =index">{{fileType.viewVal}}</span>
                        </div>
                    </ng-container>
                </div>
                <div class="filter-result" fxLayout="row" *ngIf="temArr.moreItem.length>0">
                    <div class="filter-options">筛选结果</div>
                    <div class="filter-result-bread" fxLayout="row">
                            <div class="file-tag"   fxLayoutAlign="center center">
                                <span >文件分类:</span>
                                <div *ngFor="let item of temArr.moreItem" class="filter-bread">
                                    <span [style.display]="item.label?'block':'none'">{{item.label?item.label:""}}<span>、</span></span>
                                    
                                </div>
                                <svg-icon src="assets/images/closedIcon.svg" fxLayout="row" fxLayoutAlign="center center" [svgStyle]="{'width.px':20,'height.px':20}" ></svg-icon>
                            </div>
                            <div class="file-type"  fxLayoutAlign="center center" >
                                <span>更新日期:</span>
                                <div *ngFor="let item of temArr.moreItem" class="filter-bread">
                                        <span [style.display]="item.label?'none':'block'">{{item.label?"":item.value}}<span>、</span></span>
                                </div>
                                <svg-icon src="assets/images/closedIcon.svg" fxLayoutAlign="center center" [svgStyle]="{'width.px':20,'height.px':20}"></svg-icon>
                            </div>
                    </div>
                </div>
            </div>
            <div class="selector" fxLayout="column" >
                <div fxLayout="row" fxLayoutAlign="start center">
                    <span class="select-all" fxLayout="row">
                        <p-checkbox name="fileListBox" value="allChosedOrNot"  [(ngModel)]="ctx.selectedLists" inputId="ChosedOrNot" fxLayoutAlign="center center"></p-checkbox>
                        <!-- <p-checkbox name="group1" value="New York" label="纽约"  inputId="ny"></p-checkbox> -->
                    </span>
                    <!-- <div class="filter-operaters">
                        <a routerLink="/portal/{{ctx.domain}}/uploadFile">
                            <i class="icon-upload">上传</i>
                        </a>
                        <i class="icon-sort" (click)="doSort($event)">排序</i>
                    </div> -->
                    <!-- <p-menubar [model]="items"></p-menubar> -->
                    <div class="new-container" fxLayout="row" >
                        <div fxLayout="row" fxLayoutAlign="center center" (click)="onUnfold(2)">
                            <svg-icon src="assets/images/newBuildHeader.svg" [svgStyle]="{'width.px':25,'height.px':22}" fxLayoutAlign="center center"></svg-icon>
                            <span>新建</span>
                            <svg-icon src="assets/images/new-arrow.svg"></svg-icon>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="center center" (click)="onUnfold(3)">
                            <svg-icon src="assets/images/new-upload.svg" fxLayoutAlign="center center"></svg-icon>
                            <span>上传</span>
                            <svg-icon src="assets/images/new-arrow.svg"></svg-icon>
                        </div>
                    </div>
                </div>
                <div class="new-build-doc"  style="border:1px solid red" fxLayout="row">
                    <div class="filter-doc" *ngIf="unfoldDoc===true?true:false">筛选文档</div>
                    <div class="filter-upload" *ngIf="unfoldUpload===true?true:false">上传文件</div>
                </div>
            </div>
            <mat-toolbar>
                <span>文件名</span>
                <span>文件上传者</span>
                <span>文件上传时间</span>
            </mat-toolbar>
            <ul class="file-list-body" #fileListBody>
                <li class="file-list-item"  *ngFor="let file of searchService.fileLists;let i = index" (mouseover)="contentShow(i,$event)"
                    (mouseleave)="contentHidden(i)">
                    <div class="item-title-big" *ngIf="!file.isshowTitle">
                        <div class="panel-checkbox" #chbox>
                            <p-checkbox name="fileListBox" value="{{file.id}}" [(ngModel)]="ctx.selectedLists" inputId="{{file.id}}" (onChange)="ckClick($event,file)" >
                            </p-checkbox>
                        </div>
                        <div class="classify">
                            <i class="{{parseFileIcon(file.name)}}"></i>
                        </div>
                        <div class="first">
                            {{file.name}}
                        </div>
                        <div class="name">
                            {{file.userName}}
                        </div>
                        <div class="timer">
                            {{file.lastModified | date:"yyyy-MM-dd hh:mm:ss a"}}
                        </div>
                    </div>
                    <div class="file-content" *ngIf="file.isContent">

                        <!--<div class="checkbox">-->
                        <!--<p-checkbox name="fileListBox" value="{{file.id}}" [(ngModel)]="ctx.selectedLists"-->
                        <!--inputId="{{file.id}}"-->
                        <!--(onChange)="ckClick($event,file)"></p-checkbox>-->
                        <!--</div>-->
                        <div class="item-content">
                            <div class="file-type">
                                <div class="classify">
                                    <i class="{{parseFileIcon(file.name)}}"></i>
                                </div>
                                <div class="safeIcon" *ngFor="let security of securities">
                                    <i>{{security}}</i>
                                </div>
                                <p>版本{{file.version.toFixed(2)}}</p>
                            </div>
                            <div class="content-detail">
                                <div>
                                    <p class="item-title" (click)="showDetail($event,file.id,file.dictId)">
                                    <!--<p class="item-title" (click)="editor(file)">-->
                                        {{file.name}}</p>
                                    <span>{{file.lastModified | date:"yyyy-MM-dd hh:mm:ss a"}}</span>
                                </div>
                                <!--TODO:评论暂无，暂不显示最新评论，只显示概要-->

                                <div class="brief">
                                    <i class="icon-double-quotes"></i>
                                    {{file.content}}
                                </div>
                                <div class="safeIcon">
                                    <i class="icon {{file.security}}" style="font-size:18px;vertical-align: middle;"></i>
                                </div>
                                <div class="security" title="{{file.scope.join()}}">阅读范围:
                                    <span *ngFor="let itemScope of file.scope">
                                        <span>{{itemScope}}</span>
                                    </span>
                                </div>
                                <div class="tag" title="{{file.tag.join()}}">标签:
                                    <span *ngFor="let itemTag of file.tag">
                                        <span>{{itemTag}}</span>
                                    </span>
                                </div>
                                <div class="owner" title="{{file.userName}}">所有者:
                                    <span>
                                        <span>{{file.userName}}</span>
                                    </span>
                                </div>
                            </div>
                            <div class="more-operators">
                                <div class="operator-btn">
                                    <!--<button>下载</button>-->
                                    <!--<button (click)="fileOperators($event,file,2)">发送</button>-->
                                    <!--<button (click)="fileOperators($event,file,1)">移动</button>-->
                                    <!--<button (click)="authorizeOthers($event,file)">授权</button>-->

                                </div>
                                <div class="operator-icon" title="收藏">
                                    <i class="icon-move" (click)="fileOperators($event,file,1)" title="移动"></i>
                                    <i class="icon-updated" (click)="updateUpload(file)" title="更新上传文件"></i>
                                    <a href="{{downUriBy(file)}}">
                                        <i class="icon-group-53" title="下载"></i>
                                    </a>
                                    <i class="icon-send-msg" (click)="fileOperators($event,file,2)" title="发送邮件"></i>
                                    <i class="icon-shouquan" (click)="authorizeOthers($event,file)" title="授权他人"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                </li>
            </ul>
            <div class="paginations">
                <mat-paginator #paginatorForSearchLists [(pageSize)]="pageSize" [(pageIndex)]="searchService.pageIndex" [pageSizeOptions]="[ 10, 25,100]"
                    [length]="searchService.totalCount" (page)="changeSearchListsPaginat($event)">
                </mat-paginator>
                <div></div>
            </div>
        </div>
        <app-single-file-info [isShowSingle]="isShowSingle" (onShowed)="onShowed($event)" [isShowMultiple]="isShowMultiple" [totalSize]="totalSize"></app-single-file-info>
    </div>

    <div *ngIf="!ctx.isShowSearchLists">暂无文件！</div>
</div>